;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sun Feb 10 18:22:50 2013
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/ruby/ragman/mapeditor/" "~/.emacs" "~/ruby/ragman/mapeditor/Main.rb" "~/ruby/ragman/gglib/examples/BasicExample.rb" "~/ruby/ragman/mapeditor/Grid.rb" "~/ruby/ragman/Map.rb" "~/ruby/ragman/Main.rb" "~/ruby/ragman" "~/ruby/" "~/ruby/first.rb" "~/" "~/.emacs"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/razieliyo/ruby/ragman/mapeditor/Grid.rb"
  "Grid.rb"
  'ruby-mode
  '(auto-complete-mode)
  1239
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/razieliyo/ruby/ragman/Map.rb"
  "Map.rb"
  'ruby-mode
  '(auto-complete-mode)
  691
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/razieliyo/ruby/ragman/mapeditor/Main.rb"
  "Main.rb"
  'ruby-mode
  '(auto-complete-mode)
  716
  '(nil nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

